<!DOCTYPE html>
<html xmlns:th="https://www.thymeLeaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<form th:action="@{/updateContact/{id}(id=${contact.contactId})}" method="post" th:object="${contact}">
			<label>Contact ID</label><input type="text" th:field="*{contactId}" readonly="readonly"/>
			<label>First Name</label><input type="text" th:field="*{firstName}"/>
			<label>Middle Name</label><input type="text" th:field="*{middleName}"/>
			<label>Last Name</label><input type="text" th:field="*{lastName}"/>
			<label>Phone Number</label><input type="text" th:field="*{phoneNumber}"/>
			<input type="submit" value="Update Contact"/>
	</body>
</html>